## Testing Procedure
bold is user input 

Welcome to the ultimate Social Workout App!!  
Do you want to view or post workouts? (view or post) 
    (quit) to exit  
####**view
There are no posts

Do you want to view or post workouts? (view or post)  
    (quit) to exit  
####**post
Do you want to add a workout (workout) or add a caption (caption) to your post?  
Enter "done" when post is ready  
####**workout  
Please enter what type of workout you want to add (Cardio or Strength)  
####**cardio  
Please Enter a description for the workout  
####**2 X 10 100 yard sprints
How long is your workout? (Enter as a number in the format: 000 with the first digit being hours and the last two digits minutes)  
####**30
How do you rate the difficulty of this workout? (A number from 1 to 5)      
####**4  
Which focus do you want to set? (Endurance, Agility, Speed)  
Type "done" when done setting attributes  
####**Speed  
Which focus do you want to set? (Endurance, Agility, Speed)  
Type "done" when done setting attributes  
####**agility  
Which focus do you want to set? (Endurance, Agility, Speed)  
Type "done" when done setting attributes  
####**done  
Workout successfully added  
Do you want to add a workout (workout) or add a caption (caption) to your post?  
Enter "done" when post is ready  
####**caption   
Please enter your caption for the post  
####**A good sprint workout  
Caption successfully added  
Do you want to add a workout (workout) or add a caption (caption) to your post?  
Enter "done" when post is ready  
####**workout  
This post already has a workout added  
Do you want to add a workout (workout) or add a caption (caption) to your post?  
Enter "done" when post is ready  
####**caption  
This post already has a caption  
Do you want to add a workout (workout) or add a caption (caption) to your post?  
Enter "done" when post is ready  
####**done  
Post successfully added  

Do you want to view or post workouts? (view or post)  
(quit) to exit  
####**view  

Prod_ID here  
Workout: 2 X 10 100 yard sprints  

Length: 30, Difficulty: 4  
Endurance Focus: false  
Agility Focus: true  
Speed Focus: true  

A good sprint workout  


Do you want to view or post workouts? (view or post)  
(quit) to exit  
####**asdf  
Enter a valid action (post, view, quit)  
####**post  
Do you want to add a workout (workout) or add a caption (caption) to your post?  
Enter "done" when post is ready  
####**asjdsakj  
Pick a valid option for the post (workout, caption, done)  
####**workout  
Please enter what type of workout you want to add (Cardio or Strength)  
####**ahsdfajdsf  
Please enter a valid type of workout(Cardio or Strength)  
####**Strength  
Please Enter a description for the workout  
####**5 X 10 pushups  
How long is your workout? (Enter as a number in the format: 000 with the first digit being hours and the last two digits minutes)  
####**15  
How do you rate the difficulty of this workout? (A number from 1 to 5)  
####**6  
Enter a valid difficulty (A number between 1 and 5)  
####**0  
Enter a valid difficulty (A number between 1 and 5)  
####**1  
Which focus do you want to set? (Upper, Lower, Full, Body)  
Type "done" when done setting attributes  
####**ajdasjk  
Pick a valid type of attribute  
####**upper  
Which focus do you want to set? (Upper, Lower, Full, Body)  
Type "done" when done setting attributes  
####**body  
Which focus do you want to set? (Upper, Lower, Full, Body)  
Type "done" when done setting attributes  
####**done  
Workout successfully added  
Do you want to add a workout (workout) or add a caption (caption) to your post?  
Enter "done" when post is ready  
####**caption  
Please enter your caption for the post  
####**some pushups  
Caption successfully added  
Do you want to add a workout (workout) or add a caption (caption) to your post?  
Enter "done" when post is ready  
####**done  
Post successfully added  

Do you want to view or post workouts? (view or post)  
(quit) to exit  
####**view  

Prod_ID here  
Workout: 2 X 10 100 yard sprints  

Length: 30, Difficulty: 4  
Endurance Focus: false  
Agility Focus: true  
Speed Focus: true  

A good sprint workout  


Prod_ID here  
Workout: 5 X 10 pushups  

Length: 15, Difficulty: 1  
UpperBody Focus: true  
LowerBody Focus: false  
FullBodyFocus: false  
BodyWeight Focus: true  

some pushups  


Do you want to view or post workouts? (view or post)  
(quit) to exit  
####**post  
Do you want to add a workout (workout) or add a caption (caption) to your post?  
Enter "done" when post is ready  
####**workout  
Please enter what type of workout you want to add (Cardio or Strength)  
####**cardio  
Please Enter a description for the workout  
####**Running  
How long is your workout? (Enter as a number in the format: 000 with the first digit being hours and the last two digits minutes)  
####**1000  
Enter a valid length  
####**0  
Enter a valid length  
####**234  
How do you rate the difficulty of this workout? (A number from 1 to 5)  
####**5  
Which focus do you want to set? (Endurance, Agility, Speed)  
Type "done" when done setting attributes  
####**endurance  
Which focus do you want to set? (Endurance, Agility, Speed)  
Type "done" when done setting attributes  
####**done  
Workout successfully added  
Do you want to add a workout (workout) or add a caption (caption) to your post?  
Enter "done" when post is ready  
####**done  
Post successfully added  

Do you want to view or post workouts? (view or post)  
(quit) to exit  
####**view  

Prod_ID here  
Workout: 2 X 10 100 yard sprints  

Length: 30, Difficulty: 4  
Endurance Focus: false  
Agility Focus: true  
Speed Focus: true  

A good sprint workout  


Prod_ID here  
Workout: 5 X 10 pushups  

Length: 15, Difficulty: 1  
UpperBody Focus: true  
LowerBody Focus: false  
FullBodyFocus: false  
BodyWeight Focus: true  

some pushups  


Prod_ID here  
Workout: Running  

Length: 234, Difficulty: 5  
Endurance Focus: true  
Agility Focus: false  
Speed Focus: false  

null  


Do you want to view or post workouts? (view or post)  
(quit) to exit  
####**post  
Do you want to add a workout (workout) or add a caption (caption) to your post?  
Enter "done" when post is ready  
####**caption  
Please enter your caption for the post  
####**did some nice burpees this morning  
Caption successfully added  
Do you want to add a workout (workout) or add a caption (caption) to your post?  
Enter "done" when post is ready  
####**done  
Post successfully added  

Do you want to view or post workouts? (view or post)  
(quit) to exit  
####**view  

Prod_ID here  
Workout: 2 X 10 100 yard sprints  

Length: 30, Difficulty: 4  
Endurance Focus: false  
Agility Focus: true  
Speed Focus: true  

A good sprint workout  


Prod_ID here  
Workout: 5 X 10 pushups  

Length: 15, Difficulty: 1  
UpperBody Focus: true  
LowerBody Focus: false  
FullBodyFocus: false  
BodyWeight Focus: true  

some pushups  


Prod_ID here  
Workout: Running  

Length: 234, Difficulty: 5  
Endurance Focus: true  
Agility Focus: false  
Speed Focus: false  

null  


Prod_ID here  
Workout: null  

did some nice burpees this morning  


Do you want to view or post workouts? (view or post)  
(quit) to exit  
####**quit  
Bye!  